<div class="dndPlaceholder"
    #placeholder></div>
<div class="layout todo-list layout-align-center">
  <div class="layout layout-align-space-around left-list">
    <div class="flex-25 backlog"
      [dndList]
      [dndPlaceholder]="placeholder"
      [dndModel]="backlog">
      <div class="backlog__title">
        Backlog
      </div>
      <div *ngFor="let todo of backlog"
        class="backlog__todo-conteiner"
        [dndType]="'todo'"
        (dndMoved)="todoMoved(todo, backlog)"
        [dndDraggable]
        [dndDragDisabled]="isMobile"
        [dndObject]="todo">
          <a routerLink="/todo/view/{{todo.id}}">{{todo.title}}</a>
          <i (click)="deleteTodo(todo.id)" class="todo-delete material-icons">delete_forever</i>
        </div>
    </div>
    <div class="flex-25 todos"
      [dndList]
      [dndModel]="todos"
      [dndPlaceholder]="placeholder">
      <div class="todos__title">
        Todo
      </div>
      <!-- TODO: rename todos__todo-conteiner and make <a /> biggest -->
      <div *ngFor="let todo of todos"
        class="todos__todo-conteiner" 
        [dndType]="'todo'"
        (dndMoved)="todoMoved(todo, todos)"
        (dndCopied)="moved($event)"
        [dndDraggable]
        [dndDragDisabled]="isMobile"
        [dndObject]="todo">
          <a routerLink="/todo/view/{{todo.id}}">{{todo.title}}</a>
          <i (click)="deleteTodo(todo.id)" class="todo-delete material-icons">delete_forever</i>
        </div>
    </div>
  </div>
  <div class="layout layout-align-space-around right-list">
    <div class="flex-25 in-progress"
      [dndList]
      [dndPlaceholder]="placeholder"
      [dndModel]="inProgress">
      <div class="in-progress__title">
        In Progress
      </div>
      <div *ngFor="let todo of inProgress"
        class="in-progress__todo-conteiner"
        [dndType]="'todo'"
        (dndMoved)="todoMoved(todo, inProgress)"
        [dndDraggable]
        [dndDragDisabled]="isMobile"
        [dndObject]="todo">
          <a routerLink="/todo/view/{{todo.id}}">{{todo.title}}</a>
          <i (click)="deleteTodo(todo.id)" class="todo-delete material-icons">delete_forever</i>
        </div>
    </div>
    <div class="flex-25 completed"
      [dndList]
      [dndModel]="completed"
      [dndPlaceholder]="placeholder">
      <div class="completed__title">
        Completed
      </div>
      <div *ngFor="let todo of completed"
        class="completed__todo-conteiner"
        [dndType]="'todo'"
        (dndMoved)="todoMoved(todo, completed)"
        [dndDraggable]
        [dndDragDisabled]="isMobile"
        [dndObject]="todo">
          <a routerLink="/todo/view/{{todo.id}}">{{todo.title}}</a>
          <i (click)="deleteTodo(todo.id)" class="todo-delete material-icons">delete_forever</i>
        </div>
    </div>
  </div>
  <a routerLink="/todo/new">
    <i class="new-todo material-icons">add_circle</i>
  </a>
</div>