<div class="layout layout-align-center">
    <form class="layout-column sign-in" (ngSubmit)="signIn()">
      <h1>Sign In</h1>
    
      <mat-form-field>
        <input matInput placeholder="Email" type="email" required
          [(ngModel)]="user.email" name="email">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Password" type="password" required
          [(ngModel)]="user.password" name="password">      
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="sign-in__submit-btn">Sign In</button>
    </form>
  </div>