<div class="new-todo-container layout layout-align-center">
  <form class="layout-column new-todo-form" (ngSubmit)="create()">
    <h1 class="new-todo-form__title">New todo</h1>
  
    <mat-form-field>
      <input matInput placeholder="Title" type="text" required
        [(ngModel)]="todo.title" name="title">
    </mat-form-field>

    <mat-form-field >
      <textarea matInput placeholder="Description"
        [(ngModel)]="todo.description"
        name="description">
      </textarea>
    </mat-form-field>

    <mat-form-field >
      <input matInput [matDatepicker]="picker" placeholder="Deadline" [(ngModel)]="todo.deadline" name="deadline">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="todo.status" name="status" placeholder="Status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{status.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" class="new-todo-form__img-upload" (click)="openBrowser($event)">
        Select Image
      </button>

      <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)" multiple accept="image/*">
    </div>

    <button mat-raised-button color="primary" type="submit" class="new-todo-form__create">Create</button>
  </form>
</div>
