.app-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 9;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0px 5px 0px;
}

.app-header__main-page {
  font-weight: 600;
  color: #673AB7;
  margin-left: 20px;
  font-size: 32px;
  font-size: 26px;
  padding: 10px;
}

.sign-out {
  font-size: 36px;
  align-self: center;
  padding: 0 10px;
  cursor: pointer;
}

.sign-up {
  padding: 7px;
  margin: 10px;
}
