@import "./material-varaibles.scss";
@import "./mixin";
@import "./typography.scss";
@import "./layout";
@import "./varaibles";

body {
  background-color: #ACADBC;
  font-family: $font;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.mt-20 {
  margin-top: 20px;
}
